<!DOCTYPE html>
<html lang="en_EN">
  <head>
    <title>Page not found</title>
    <link rel="stylesheet" href="/fundamental-styles/fundamental-styles.css" />
    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .fd-page__header {
        padding: 1em;
        text-align: center;
      }
      .fd-action-bar__title {
        font-size: 6em;
      }
      .fd-action-bar__description {
        font-size: 4em;
      }
    </style>
  </head>
  <body>
    <header class="fd-page__header">
      <h1 class="fd-action-bar__title">Ooops :(</h1>
      <h2 class="fd-action-bar__description">
        Yes, you guessed right, it's <strong>404</strong> error
      </h2>
    </header>
  </body>
</html>
